################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Testing/.vs/Testing/v16/Browse.VC.db
/Testing/.vs/Testing/v16/Browse.VC.opendb
